.card{
    width: 10rem;
    height: 14.5rem;
}

.cardContent {
    border: 1px solid #000000;
    border-radius: 8px;
    background-color: white;
    margin: 0;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 90%;
    overflow: hidden;
}

.imgContainer {
    width: 100%;
    height: 90%;
    overflow: hidden;
}

.cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chip{
    margin: 1px 5px;
}

.cardText {
    font-size: 14px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    text-align: left;
}

p{
    padding: 0;
    margin: 0;
}